body.gallery {
  overflow: scroll;
}

body.gallery > section > div {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

body.gallery > section > div > div {
  float: left;
  height: 70vh;
  width: 50vh;
  border: 6px solid #b9a23f;
  margin: 1em;
  background-size: cover !important;
  background-position: center center !important;
}

@media screen and (orientation:portrait) {
  body.gallery > section > div {
    display: initial;
  }

  body.gallery > section > div > div {
    float: none;
    margin: 1em auto;
  }
}
