#mosaico {
  column-count: 3;
  column-gap: 1em;
}

.mosaico-item {
  display: inline-block;
  margin: 0 0 1em;
  width: 300px;
  height: 300px;
  padding: 10px;
background: yellow;
border: 1px solid blue;
}

.mosaico-largo {
  height: 450px;
}
