/* General */

.two-columns {
  margin: 0;
  padding: 0;
  clear: both;
}

.two-columns p {
  width: calc(30vw - 2em - 5px);
  font-family: monospace;
  color: white;
  margin: 1em auto;
}

.two-columns > div {
  position: relative;
  float: left;
  width: 70%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.two-columns > div:first-child {
  width: 30%;
}

.two-columns > div > div {
  width: calc(100% - 2em);
  height: calc(100vh - 2em);
  padding: 1em;
  padding-right: 2em;
  overflow: scroll;
}

.two-columns > div:last-child {
  background-color: white;
}

.two-columns img {
  display: block;
}

.two-columns > div:first-child img {
  width: calc(30vw - 2em);
}

.two-columns > div:last-child > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
}

.two-columns > div:last-child > a.panel-2:nth-child(1) {
  background-image: url('../img/visa-1.jpg');
  left: -33%;
}

.two-columns > div:last-child > a.panel-2:nth-child(2) {
  background-image: url('../img/visa-2.jpg');
  left: 0;
}

.two-columns > div:last-child > a.panel-4:nth-child(1) {
  background-image: url('../img/garbige-1.jpg');
}

.two-columns > div:last-child > a.panel-4:nth-child(2) {
  background-image: url('../img/garbige-2.jpg');
}

.two-columns > div:last-child > a.panel-4:nth-child(3) {
  background-image: url('../img/garbige-3.jpg');
}

.two-columns > div:last-child > a.panel-4:nth-child(4) {
  background-image: url('../img/garbige-4.jpg');
}

#panel {
  clear: both;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  opacity: 0;
  background: none;
  cursor: pointer;
  z-index: 999;
}

#panel div {
  float: left;
  height: 100vh;
}

/* Cuando está en vertical */

@media screen and (orientation:portrait) {
  .two-columns > div {
    float: none;
    width: 100% !important;
    height: 50vh;
  }

  .two-columns > div > div {
    height: calc(50vh - 2em);
  }

  .two-columns p {
    width: calc(100vw - 2em - 5px);
  }

  #panel {
    top: 50%;
    width: 100%;
    height: 50vh;
  }

  #panel div {
    height: 50vh;
  }
}
