body {
  overflow: hidden;
}

.pan, .container-video {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.video {
  width: 60vw;
}

.pan img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 130vh;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
}

